<!-- course show (student course detail) page -->

<br />
<!--booyah box -->
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center"><%= @course.title %></h1>
  <hr/>
    <%= image_tag @course.image, class: 'img-responsive' %>
  <!-- <div class="col-xs-10 col-xs-offset-1"> -->
      <div class="col-sm-4 col-xs-12">
        <span class="label label-default">
          <%= number_to_currency @course.cost %>
        </span>

      <!-- checks if current user enrolled and shows enroll status -->
        <% if current_user && current_user.enrolled_in?(@course) %>
          <br />
          <br />
          <h3 class="label label-info">You Are Enrolled!</h3>
        <% else %>
          <%= link_to 'Enroll', course_enrollments_path(@course), class: 'btn btn-primary', method: :post %>
        <% end %>
      <!-- + -->
      </div>
 <br />
 <!-- course description start -->

      <div class="col-sm-8 col-xs-12">
        <%= @course.description %>
      </div> <!-- enrollment button and course description end-->
<!--   </div> --> <!-- enrollment button and course description end-->
 <hr />
  <!-- sections begin-->
  
  <div class="col-xs-12">
    <% @course.sections.each do |section| %>
    <br />
    <br />
      <!-- individual section separation-->
    <div class="section">
      <h3>  
        <%= section.title %>
      </h3>
        <% section.lessons.each do |lesson| %>
          <div class="col-xs-12 col-sm-6">
            <div class="lesson text-center">
              <br/>
              <%= link_to lesson_path(lesson) do %>
              <b><%= lesson.title %></b> 
              <br />
              <%= lesson.subtitle %>
              <% end %>
            </div>
          </div>
        <% end %> <!-- closes individual lesson -->
        <br class="clr" />
      </div> <!-- end info for individual section -->
    <% end %> 
  </div>  <!-- end of section break -->
</div> <!-- closes course and separates page booyah-box and footer -->
